a.selected {
  color: red;
  background: #efefef;
}

.text {
	text-align: center;
}

div.form
{
    display: block;
    text-align: center;
}


input.right {
  display: inline-block;
  float: right;
}

label{
    display: inline-block;
    float: left;
    clear: left;
    text-align: left;
}

#button{
  float: right;
  margin: 5px;
}

#contact-form
{
  background-color: #d2d2e0 !important;
}

#table-head {
    background-color: #e6e6e6 !important;
}

#update-style {
    background-color: #ffffff !important;
}

body {
  background-color: #cce6ff !important;
  position: relative;
  margin: 0;
  padding-bottom: 150px;
  min-height: 100%;
}

table {
  background-color: #ffffff !important;
}

html {
  height: 100%;
  box-sizing: border-box;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

#login2 {
	margin: 50px;
	padding: 50px;
}

.px-2 {
  padding-left: ($spacer-x * .5) !important;
  padding-right: ($spacer-x * .5) !important;
}

#map {
    width: 80vw;
    height: 80vh;
    background-color: grey;
    margin: auto;
}

